body {
  margin: 0 0 0 0;
}

.container {
  width: 100vw;
}

.topphoto {
  width: 100%;
}

.various_links {
  display: table;
  text-align: center;
  margin: 0;
  width: 100%;
}

h1 {
  margin-top: 60px;
}

.links {
  margin: 0;
  list-style: none;
  display: table-cell;
  text-decoration: none;
}

/*以下レスポンシブ用*/

@media screen and (max-width: 320px) {
  /* 320px以下は２列 */
  .links {
    width: 50%;
  }
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
