body {
  margin: 0 0 0 0;
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic' ;
}

/*color定義*/
$darkgray : #303030;
$lightgray : #808080;
$pink : #FF367F;
$blue : #6091d3;
$white : #FFF;

/*topページ*/

.container {
  width: 100vw;
}

.topphoto {
  width: 100%;
}

.various-links {
  display: table;
  text-align: center;
  margin-top:30px;
  width: 100%;
  padding: 0 0 30px 0;

}

h1 {
  margin-top: 60px;
  color: $darkgray;
  text-align: center;
}

.links {
  margin:0;
  list-style:none;
  display: table-cell;
  font-size: 28px;
  border-right: 1px $pink dashed;

i {
  margin-right: 10px;
}

a {
  font-weight: bold;
  color:$darkgray;
  text-decoration: none;
  position: relative;
  display:inline-block;
  transition: .3s;
  letter-spacing: 1px;
}

a::after {
  position: absolute;
  bottom: -4px;
  left:50%;
  content: '';
  width:0;
  height:2px;
  background-color: $blue;
  transition:.3s;
  transform: translateX(-50%);
}

a:hover::after {
  width:120%;
}

a:hover{
  text-shadow: 1px 2px 1px $lightgray;
  .fas {
    color:$blue;
  }
}
}


.various-page {
  width:100%;
}

/*profileページ*/
.profile-page {
  text-align: center;
}

.page-title {
  text-align: center;
  color: $darkgray;
}

.profile-text {
  display: inline-block;
  font-size: 20px;
  padding:30px 30px;
  line-height: 40px;
  color: $darkgray;
  background: $white;
  border: solid 3px $blue;
  border-radius: 10px;
}

.icon-photo {
  max-width: 15%;
  text-align: center;
  margin: 10px 30px 50px 0px;
}

/*skillページ*/



/*footer*/
.footer-text {
  text-align: center;
  margin:100px 0 10px 0;
}

/*以下レスポンシブ用*/

@media screen and (max-width: 320px) {
  /* 320px以下は２列 */
  .links {
    width: 50%;
  }
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
