body {
  margin: 0 0 0 0;
}

.site-box {
  width: 100vw;
}

.topimage {
  width: 100%;
}

.various_links {
  width: 100vw;
}

ul {
  padding: 0;
  margin: 0;
  width: 100%;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
  float: left;
  padding-left: 20px;
}

h1 {
  margin-top: 60px;
}

.links {
  text-decoration: none;
}

/*以下レスポンシブ用*/

@media screen and (max-width: 320px) {
  /* 320px以下は２列 */
  li {
    width: 50%;
  }
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
