<div class="various-page">

    <div class="profile-page">
      <h1 id="profile-title">PROFILE</h1>

    <%= image_tag("icon-photo.jpg",class:"icon-photo")%>

      <p class="profile-text">
        1995年うまれ 埼玉県出身
        <br>特技：美味しそうにごはんを食べること
        <br>物心ついた時からパソコンが好きで
        <br>小学生でHPの作成やHTMLに触れる。
        <br>飲食店、地下アイドル、小売店、営業事務を経験。
        <br>多分野の職種を経験した上で、
        <br>自身がプレイヤーである仕事にやりがいを感じることを発見。
        <br>2019.6〜 プログラミングの勉強を開始。
      </p>
    </div>

    <div class="skillpage">
      <h1 class="skilltitle">SKILL</h1>
      <p class="skilltext">あああ</p>
    </div>

    <div class="outputpage">
      <h1 class="outputtitle">OUTPUT</h1>
      <p class="outputtext">いいい</p>
    </div>

    <div class="contactpage">
      <h1 class="contacttitle">CONTACT</h1>
      <p class="cobtacttext">ううう</p>
    </div>

  </div>
