  <div class="various-page">

    <div class="profilepage">
      <h1 id="profiletitle">PROFILE</h1>

    <%= image_tag("icon-photo.jpg",class:"iconphoto")%>

      <p class="profiletext">
        1995年うまれ 埼玉県出身<br>
        特技：美味しそうにごはんを食べること<br>
        物心ついた時からパソコンが好きで<br>
        小学生でHPの作成やHTMLに触れる。<br>
        飲食店、地下アイドル、小売店、営業事務を経験。<br>
        多分野の職種を経験した上で、<br>
        自身がプレイヤーである仕事にやりがいを感じることを発見。<br>
        2019.6〜 プログラミングの勉強を開始。<br>
      </p>
    </div>

  </div>
